.hero-container{
    width: 100%;
    height: 70vh;
    background-image: url('../../../hero.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    max-width: 1300px;
    margin: 0 auto;
    /* border-radius: 200px; */
    padding-top: 70px;
    border-bottom: 20px solid rgba(255, 255, 255, 0.3);
    position: relative;

}
.hero{
    position: relative;
}

.hero-container h1{
    font-size: 4rem;
    /* margin-top: 50px; */
    line-height: 3.8rem;
}
.hero-container h1 span{
    
    border-radius: 25px;
}

.hero-container p{
    font-size: 30px;
    margin-top: 20px;
}
.stats{
    max-width: 1300px;
    background: #000;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 60px; 
    gap: 20px;

 
}

.col1 {
    background-color: #000000;
    max-width: 400px;
    color: white;
}
.col1 h3{
    border-bottom: 5px solid gray;
    font-size: 16px;
    font-weight: 500;
    /* margin-bottom: 20px; */
    text-transform: capitalize;
    padding: 10px;
}
.col1 .col-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.col1 .col-bottom img{
    border-radius: 50%;
}


.col1 .col-bottom p{
    font-size: 18px;
    font-weight: 600;
}



.why-section{
    max-width: 1300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    /* height: 400px; */
    gap: 40px;
}

.why-section img{
    width: 100%;
    /* height: 500px; */
}

.why-section .right{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    /* height: 500px; */
}

.why-section .right .row2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}

.why-section .right h2{
    font-size: 32px;
    /* margin-bottom: 5px; */
    margin-bottom: 1.5rem;
}
.why-section .right span{
    font-size: 40px;
    /* margin-bottom: 5px; */
    color: #854836;
}

.why-section .right .row2 .reason  span{
    color: #854836;
    font-weight: 600;
    margin-bottom: .25rem;
    font-size: 20px;

}

.why-section .right .row2 .reason  h4{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0.5rem;
    margin-top: 0;
}
.why-section .right .row2 .reason  p{
    color: gray;
    font-weight: 500;
    font-size: 16px;
    /* margin-bottom: 2rem; */

}



.why-section .row3{
    padding: 20px 0;
    
}

.why-section .row3 p{
    font-size: 16px;
}
.services {
    margin-top:  200px;
    /* height: 50vh; */
    margin: 0 auto;
    /* width: 100%; */
    max-width: 1320px;
    /* margin-top: 60px; */

}

.services .heading{
    font-weight: 600;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 32px;
    padding: 12px 20px;
    margin-bottom: 25px;
    background-color: black;
    color: white;
}

.services .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    gap: 20px;
    margin-top: 25px;
    height: max-content;
    
}
.grid-ele{
    background: #000;
    /* width: 250px; */
    gap: 25px;
    color: white;
    height: 300px;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.grid-ele img{
    height: 70%;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 10px;
}

.grid-ele h3{
    font-size: 18px;
    font-weight: 500;
}

.grid-ele div{
    margin-left: 10px;
    margin-bottom: 10px;
}

.grid-ele div:hover{
    margin-left: 20px;
    /* margin-bottom: 10px; */
}

.grid-ele p{
    font-size: 14px;
    color: gray;
}


@media (min-width: 700px) {

    
.grid .four{
    grid-column-start: 1;
    grid-column-end: 3;
    /* background: gray; */
}

.grid .six{
    grid-column-start: 2;
    grid-column-end: 4;
    /* background: gray; */
}
}


.about-container{
    /* width: 100vw; */
    margin-top: 200px;
    margin-bottom: 100px;
    /* height: 100vh; */
    background-image: url(https://cdn.prod.website-files.com/66f1864b4a6f3045a6a2ca3e/66f4193346a254b2220786a2_Grid.svg);
    /* background-image: url(https://img.freepik.com/free-vector/city-architecture-apartment-building-block-with-tower-skyscraper-linear-sketch-vector-illustration_98292-1035.jpg?semt=ais_hybrid&w=740); */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.about-container .about {
    max-width: 1220px;
    margin: 0 auto;
    background-image: url();
}

.about-container .about h2{
    font-size: 4rem;
}

.about-container .about h6{
    font-size: 1rem;
    margin: .25rem 0;
}

.about-container .about p{
        font-weight: 600;
        font-size: 20px;
        margin: 20px 0;
        backdrop-filter: blur(10px);
}

.support {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 100vh;
    height: 70vh;
    max-width: 1320px;
    margin: 0 auto;
    border: 2px solid gray;
    margin-top: 200px;
    padding: 20px 0;
}

.support .left {
    width: 60%;
}

.support .left h2{
    font-size: 3rem;
    margin-bottom: 20px;
}

.support .left .text{
    font-size: 16px;
    margin-bottom: 20px;
}
.support .left p{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.support .left .address {
    display: flex;
}


.support .right{
    width: 30%;
    background: gray;
}


.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
    color: white;
    padding: 20px;
}

.footer .logo{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 28px;
}
.footer .logo span{
    color: #854836;
}
.footer .footer-middle{
    margin-bottom: 24px;
}
.footer .footer-middle h4{
    font-size: 28px;
    margin-bottom: 20px;

}

.footer .footer-middle div{
    margin-bottom: 20px;
}

.footer .footer-middle div h5{
    font-size: 18px;
    margin-bottom: 12px;
    
}

.footer .footer-middle div p{
    font-size: 16px
}

.footer .footer-right h4{
    font-size: 28px;
    margin-bottom: 20px;
}

.footer .footer-right ul{
    list-style: none;

}

.footer .footer-right li{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.copywright{
    text-transform: capitalize;
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px 0;
    border-top: 1px solid gray;
}






@media (max-width: 700px) {
    .hero-container h1{
        font-size: 3.5rem;
    }
    .hero-container {
        height: 60vh;
    }
    
    .why-section{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
        margin-bottom: 10px;
        /* height: fit-content; */
    }
    .why-section .left {
        display: none;
        height: 0;
    }

    .why-section .right .row2{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr ;
        gap: 5px;
    }

    .stats{
        display: grid;
        grid-template-columns: 1fr ;
        grid-row: 1fr 1fr 1fr ;
        row-gap: 4px;
        background-color: white;
    }
    .stats .col1{
        margin-bottom: 20px;
    }

    .stats .col1 h3{
        font-size: 20px;
        /* margin-bottom: 10px; */
    }
    .stats .col1 p{
        font-size: 14px;
        /* margin-top: 10px; */
    }

    .services .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .footer{
        grid-template-columns: 1fr;
    }
}