.aboutus-container{
    max-width: 1320px;
    margin: 0 auto;

}


.aboutus-container .top{
    text-align: center;
    margin: 100px 0;
}

.aboutus-container .top h1{
    font-size: 4rem;
    margin-bottom: 20px;
}

.aboutus-container .top p{
    font-size: 20px;
}

.aboutus-container .img-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: center; */
    gap: 20px;

}

.aboutus-container .img-section img{
    border-radius: 25px;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: bottom;
}

.aboutus-container .right p{
    font-size: 20px;
    /* margin: 20px 0; */
    margin-bottom: 32px;
}



.team-title{
    font-size: 4rem;
    margin-top: 150px ;
    margin-bottom: 100px;
    text-align: center;
    color: #51babd;
}
.team {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    width: 100%;
}

.team .card{
    /* border: 2px solid black; */
    border-radius: 25px;
    /* width: 250px; */
    text-align: center;
    padding: 20px;
    box-shadow: -5px -5px  50px black;
}

.team .card img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin: 20px 0;
}

.team .card p{
    font-weight: 600;
    margin-bottom: 20px;
}


.team .card .role h5{
    font-weight: 500;
    border: 1px solid #51babd;
    display: inline;
    border-radius: 4px;
    padding: 2px 4px;
    margin-top: 20px;
    color: #51babd;

}


@media (max-width: 700px) {
    .team{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .aboutus-container .img-section{
        grid-template-columns: 1fr;
    }
    
}