.slide-container{
    max-width: 1320px;
    margin-inline: auto ;
    margin-bottom: 5rem;
}

.title{
    font-size: 3rem;
    text-align: center;
    /* margin-bottom: ; */
}

.slide{
    width: 100%;
    /* border: 1px solid black; */
    position: relative;
    height: 300px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0)
    );
    margin-top: 3rem;
}

.slide:hover .item{
    animation-play-state: paused;
}

@keyframes scrollLeft {
    to{
        left: -350px
    }
}

.item{
    width: 350px;
    height: 300px;
    padding: 25px;
    /* background: red; */
    border: 1px solid black;
    border-radius: 25px;
    position: absolute;
    left: calc(350px * 8);
    animation-name: scrollLeft;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

.item:hover{
    /* width: 370px; */
    /* height: 320px; */
}

.item1{
    animation-delay: calc(60s / 8 * (8 - 1) * -1);
}
.item2{
    animation-delay: calc(60s / 8 * (8 - 2) * -1);
}
.item3{
    animation-delay: calc(60s / 8 * (8 - 3) * -1);
}
.item4{
    animation-delay: calc(60s / 8 * (8 - 4) * -1);
}
.item5{
    animation-delay: calc(60s / 8 * (8 - 5) * -1);
}
.item6{
    animation-delay: calc(60s / 8 * (8 - 6) * -1);
}
.item7{
    animation-delay: calc(60s / 8 * (8 - 7) * -1);
}
.item8{
    animation-delay: calc(60s / 8 * (8 - 8) * -1);
}


.slide p{
    padding: 20px 0;
    border-bottom: 1px solid gray;
}

.slide .profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.slide .profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}