.navbar{
    width: 100%;
    /* background-image: linear-gradient(180deg, rgba(236, 255, 92, 0.9) 20%, transparent); */
    /* background-image: linear-gradient(180deg, rgba(245, 8, 8, 0.9) 20%, transparent); */
    /* padding: 20px 0; */
    padding: 20px 0;
    /* position: fixed; */

}


  

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1320px;
    background: transparent;
    /* background-color: #000; */
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    padding: 5px 5px;
    padding-left: 20px;

  
    
}
.navbar-container .nav-logo {
    font-size: 40px;
    font-weight: 900;
    /* background-color: #0073ffcc; */
    /* border-radius: 25px;
    padding: 10px 20px; */
    /* color: white; */
    cursor: pointer;
    display: flex;
    align-items: center;
}

.navbar-container .nav-logo .logo-name{
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5rem;
    padding-top: 8px;
    /* background: gray; */
}

.navbar-container .nav-logo .logo-name span{
    font-size: 1rem;
  
}


.navbar-container .nav-logo img{
    width: 60px;
    /* height: 25px; */
    object-fit: contain;
    background: white;
}

.nav-middle{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* width: 50%; */
    /* width: 60%; */
    /* margin-left: 50px; */
    /* gap: 5%; */

    
    
}

.nav-middle ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    /* width: 70%; */
    /* gap: 120px; */
    /* width: 90%; */
    /* background: #000; */
    width: 100%;
    /* gap: 20%; */
    

    
}

.nav-middle ul li a{
    text-decoration: none;
    color: black;
}

.nav-middle ul li:hover{
    /* background: #f0f0f0; */
    border-bottom: 3px solid #f0f0f0;
    /* background-color: rgba(128, 128, 128, 0.534); */
    /* padding: 5px 10px; */
    /* border-radius: 25px; */
    /* color:  white; */

}

.nav-middle ul li{
    font-size: 16px;
    margin: 0 auto;
    font-weight: 500;
    cursor: pointer;
    margin: 0 50px;
    

}
 button{
    background: #000;
    color: white;
    font-size: 18px;
    padding: 20px 50px;
    outline: 0;
    border: 0;
    border-radius: 60px;
    font-weight: 600;
}
button:hover{
    background: white;
    color: black;
    cursor: pointer;
}

.dropdown{
    background-color: rgb(255, 255, 255);
    /* width: 20px;
    height: 40px; */
    padding: 0 10px;
    display: none;
}

.dropdown img{
    width: 35px;
    height: 35px;
    object-position: center;
}

.mobile-menu {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.911);
    backdrop-filter: blur(10px);
    top: 0;
    right: 0;
    max-height: 100vh;
    height: 100vh;
    width: 250px;
    z-index: 999;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px;

}

.mobile-menu ul{
    list-style: none;
    font-size: 3rem;
    /* display: none; */
    /* margin-bottom: 50px; */
    

}
.mobile-menu ul li{
    margin-bottom: 50px;
    text-decoration: none;
    color: black;
}

.mobile-menu ul li a{
    text-decoration: none;
    color: #000;
}

.mobile-menu .title{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu img{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}

.d-none{
    display: none;
}



@media (max-width: 1050px) {
     .navbar ul{
        display: none;
    }
    button {
        padding: 15px 30px;
    }

    .navbar-container .contactus-button{
        display: none;
    }

    .dropdown{
        display: block;
    }
    .mobile-menu{
        width: 100vw;
        height: 100vh;
    }
    .mobile-menu ul{
        display: block;
    }

    .mobile-menu ul li{
        font-size: 40px;
        margin-bottom: 20px;
        
    }
    
}